@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;
}

.input-container {
  text-align: center;
  width: 70%;
  margin-top: 50px;
}

.input {
  min-width: 100%;
  min-height: 200px;
  border: 1px dashed white;
  color: grey;
  font-size: 18px;
  padding: 5px;
}

.submit {
  width: 200px;
  height: 30px;
  margin-top: 10px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.submit:hover {
  color: #333;
  background-color: white;
}

.body {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 20px;
  color: white;
  font-size: 18px;
}
